.header {
  height: 5rem;
  background-color: rgb(104, 97, 97);
}
.titulo{
    color: white;
    text-align: center;
    padding-top: 1rem;
}
@media screen and (max-width: 768px){
  .header{
   max-width: 100%;
    
  }
  .titulo{
    font-size: 1rem;
  }
}