.header {
  height: 5rem;
  background-color: rgb(104, 97, 97);
 
margin-left: 8.5rem;
 margin-right: 8.5rem;
}
.titulo{
    color: white;
    text-align: center;
    padding-top: 1rem;
}
@media screen and (max-width: 768px){
  .header{
   max-width: 100%;
   margin-left: 38px;
   margin-right: 38px;
  }
  .titulo{
    font-size: 1rem;
  }
}